
$background-color: #8B1C10;
$primary-color: #8B1C10;
$button-color: #8B1C10;
$text-color: #8B1C10;
$white-color: #FFFFFF;

body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
}

.forgot-password-page {
  display: flex;
  height: 100vh;

  .logo-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white-color;

    .logo {
      width: 150px;
      height: 150px;
    }

    h1 {
      color: $primary-color;
      margin-top: 20px;
      font-size: 2.5em;
    }
  }

  .forgot-password-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;

    .forgot-password-form-container {
      background-color: $white-color;
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      max-width: 400px;
      width: 100%;
      text-align: center;

      h2 {
        color: $primary-color;
        margin-bottom: 1rem;
      }

      form {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.5rem;
          color: $primary-color;
          font-weight: bold;
          text-align: left;
        }

        input {
          margin-bottom: 1rem;
          padding: 0.5rem;
          font-size: 1rem;
          border: 1px solid $primary-color;
          border-radius: 25px;
          width: 100%;
          box-sizing: border-box;

          &:focus {
            outline: none;
            box-shadow: 0 0 0 2px lighten($primary-color, 20%);
          }
        }

        .btn-primary {
          background-color: $primary-color;
          color: $white-color;
          border: none;
          padding: 0.75rem;
          font-size: 1rem;
          font-weight: bold;
          border-radius: 25px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.3s ease;
          margin-bottom: 1rem;

          &:hover {
            background-color: darken($primary-color, 10%);
            transform: translateY(-3px);
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba($primary-color, 0.5);
          }

          &:disabled {
            background-color: darken($primary-color, 20%);
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
