<div class="login-page">
  <div class="logo-container">
    <img src="assets/images/logo-construe-stock-vermelho.png" alt="ConstrueStock Logo" class="logo">
    <h1>ConstrueStock</h1>
  </div>
  <div class="login-container">
    <div class="login-form-container">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <label for="email">E-mail</label>
        <input id="email" type="email" formControlName="email" placeholder="E-mail" />
        <br>
        <label for="password">Senha</label>
        <input id="password" type="password" formControlName="password" placeholder="Senha" />
        <div class="remember-me">
          <div>
            <input type="checkbox" id="rememberMe" formControlName="rememberMe">
            <label for="rememberMe">Lembrar-me</label>
          </div>
          <a routerLink="/forgot-password">Esqueci minha senha</a>
        </div>
        <br>
        <br>
        <br>
        <button type="submit" [disabled]="!loginForm.valid" class="btn-primary">Entrar</button>
      <button routerLink="/register" class="btn-secondary">Cadastrar-se</button>
    </form>
    </div>
  </div>
</div>
